* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
}

/*
 * Skip Link
 */

 .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    text-decoration: none;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
 }
  
 .skip-link:focus {
    top: 0;
 }

/*
 * Header
 *
 */

.header {
    min-height: 56px;
    transition: min-height 0.3s;
}

.header__inner {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em 0;
    display: inline-block;
    color: #212121;
}

.header__jargon {
    font-weight: 100;
    font-size: 1.5em;
    margin: 0 0.25em 0.5em;
    display: block;
    color: #212121;
    letter-spacing: 1.5px;
}

.header__menu {
    font-size: 44px;
    margin: 10px auto;
    display: block;
    width: 45px;
    text-decoration: none;
    color: #616161;
}


/*
 * Top level navigation
 */

.nav {
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #616161;
}

.nav a:hover {
    text-decoration: underline;
    color: #000;
}


/*
 * Jumbotron
 */

 .hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    background-position: center;
    background-color: green;
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}

/*
 * main
 */

 main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 32px;
}

/*
 * headline
 */

.headline__figure {
    width: 100%;
}

.headline__figure img {
    width: 100%;
}

.headline__figure figcaption {
    text-align: center;
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;
}

.headline__content {
    width: 100%;
    padding: 16px 0;
}

.headline__title {
    font-size: 24px;
    font-weight: 500;
}

.headline__description {
    font-size: 12px;
    margin-top: 12px;
}

.headline__button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-top: 24px;
    cursor: pointer;
    padding: 15px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #71c9ce;
    transition: opacity 0.3s;
}

.headline__button:hover {
    opacity: 0.8;
}

/*
 * explore
 */

.explore {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.explore__label {
    font-size: 44px;
    font-weight: lighter;
}

.explore__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/*
 * restaurant
 */

.restaurants {
    margin: 32px auto auto;
    text-align: left;
}

/*
 * restaurant item
 */

 .restaurant-container {
   position: relative;
   text-align: center;
}

.restaurant-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.restaurant-item__content {
    padding: 16px;
}

.restaurant-item__thumbnail {
    width: 100%;
}

.restaurant-item__city {
    color: red;
    text-decoration: none;
    font-size: 16px;
}

.restaurant-item__title {
    font-weight: 300;
    font-size: 44px;
    padding: 5px 0 5px;
    margin-top: 5px;
    transition: 0.3s opacity;
}

.restaurant-item__title:hover {
    opacity: 0.5;
}

.restaurant-item__title a {
    text-decoration: none;
    color: inherit;
}

.restaurant-item__description {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.5em;
}
  
.restaurant-item__rating {
   position: absolute;
   top: 4px;
   right: 4px;
   font-size: 16px;
   text-transform: uppercase;
   color: #f9f7f7;
   background-color: #00ADB5;
   padding: 8px;
   border-radius: 8px;
   font-weight: 500;
}

/*
 * footer
 */

footer {
    background-color: #222831;
    padding: 1em;
    width: 100%;
    text-align: center;
}

footer ul {
    margin: 0 auto;
    display: inline-block;
}

footer li {
    display: inline-block;
    margin: 0 1em;
    font-size: 14px;
}

footer p {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    font-size: 16px;
    color: #fff
}
