@media screen and (min-width: 650px) {    
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }
   
    .app-bar .app-bar__brand h1 {
        font-size: 3em;
    }
   
    .app-bar .app-bar__menu {
        display: none;
    }
   
    .app-bar .app-bar__navigation {
        position: static;
        width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
        display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 140px;
        text-align: center;
        margin: 0;
    }
   
    .restaurants {
        grid-template-columns: 1fr 1fr;
    }
   
    .restaurant {
        grid-template-columns: auto 1fr;
    }
   
    .restaurant .restaurant__title {
        grid-column-start: 1;
        grid-column-end: 3;
    }
   
    .restaurant .restaurant__description {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 3%;
    }

    .headline {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  
    .headline__title {
        font-size: 28px;
    }
  
    .headline__description {
        font-size: 16px;
    }

  }
   
@media screen and (min-width: 750px) {
    .app-bar .app-bar__brand h1 {
        font-size: 3em;
    }

    .headline {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }
   
@media screen and (min-width: 900px) {
    .restaurants {
        grid-template-columns: repeat(3, 1fr);
    }
  }

@media screen and (min-width: 1200px) {
    .headline__content {
        padding-right: 72px;
        padding-left: 20px;
    }

    .headline__figure {
        padding-left: 72px;
        padding-right: 20px;
    }
    .explore {
        padding-right: 72px;
        padding-left: 72px;
    }
  }
